---
layout: archive
title: "Media"
permalink: /media/
author_profile: true
---

<h2>Publications</h2>
<ul>
  <li>
    Stehl J, Vonderschmidt A, Vollmer S, Alexander P, Jaacks LM (2025).
    <a href="https://www.nature.com/articles/s43016-025-01173-4" target="_blank" rel="noopener">
      Gap between national food production and food-based dietary guidance highlights lack of national self-sufficiency
    </a>.
    <em>Nature Food</em> 6, 571–576 (2025).
    <div><strong>Media selection:</strong></div>
    <ul>
      <li>BBC Science Focus:
        <a href="https://www.sciencefocus.com/news/only-one-country-produces-food-it-needs-self-sufficient" target="_blank" rel="noopener">
          Only one country in the world produces all the food it needs, study finds.
        </a> 22.05.2025.
      </li>
      <li>Welt:
        <a href="https://www.welt.de/kmpkt/article256215526/nur-dieses-land-schafft-es-genug-nahrung-fuer-seine-bevoelkerung-zu-produzieren.html" target="_blank" rel="noopener">
          Nur dieses Land schafft es, genug Nahrung für seine Bevölkerung zu produzieren.
        </a> 09.06.2025.
      </li>
      <li>Metrópoles:
        <a href="https://www.metropoles.com/ciencia/pais-autossuficiente-em-comida" target="_blank" rel="noopener">
          Apenas um país é autossuficiente em comida no mundo.
        </a> 28.05.2025.
      </li>
      <li>National Geographic España:
        <a href="https://www.nationalgeographic.com.es/medio-ambiente/solo-hay-pais-mundo-que-produce-suficiente-comida-para-alimentar-toda-su-poblacion_25221" target="_blank" rel="noopener">
          Solo hay un país en el mundo que produce suficiente comida para alimentar a toda su población.
        </a> 09.06.2025.
      </li>
    </ul>
  </li>

  <li>
    Stehl J, Depenbusch L, Vollmer S (2025).
    <a href="https://www.sciencedirect.com/science/article/pii/S0306919225000533?via%3Dihub" target="_blank" rel="noopener">
      Global poverty and the cost of a healthy diet
    </a>.
    <em>Food Policy</em>, 132: 102849.
    <div><strong>Media selection (older version of the paper):</strong></div>
    <ul>
      <li>ZDF:
        <a href="https://www.zdf.de/nachrichten/panorama/studie-ernaehrung-gesundheit-misereor-100.html" target="_blank" rel="noopener">
          Milliarden Menschen ohne gesunde Ernährung.
        </a> 01.10.2024.
      </li>
      <li>TAZ:
        <a href="https://taz.de/Studie-zu-Welternaehrung/!6036962" target="_blank" rel="noopener">
          Kein Geld für gesundes Essen.
        </a> 01.10.2024.
      </li>
      <li>Tagesspiegel:
        <a href="https://www.tagesspiegel.de/gesellschaft/panorama/ernahrungsarmut-dramatisch-hoch-jeder-dritte-hat-kein-geld-fur-gesundes-essen-12465635.html" target="_blank" rel="noopener">
          „Ernährungsarmut dramatisch hoch“: Jeder Dritte hat kein Geld für gesundes Essen.
        </a> 01.10.2024.
      </li>
    </ul>
  </li>
</ul>

{% include base_path %}

{% for post in site.media reversed %}
  {% include archive-single.html %}
{% endfor %}
